@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Raleway:wght@700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
li {
   list-style: none;
}
button {
   cursor: pointer;
}

a {
   text-decoration: none;
}

body {

   font-family: Bai Jamjuree;

   width: 100%;
   height: 100vh;
   font-family: Bai Jamjuree;
   background: linear-gradient(
      176deg,
      #252335 26.77%,
      rgba(84, 71, 170, 0.93) 97.4%
   );

}
